<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambilight Video Player Project</title>
    <link rel="stylesheet" href="/static/styles/landing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    
</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source src="/static/videos/background_video.mp4" type="video/mp4">
    </video>
    
    <header>
        <h1>Ambilight Video Player Project</h1>
    </header>

    <section>
        <div class="section-box">
            <h2>About this project</h2>
            <p>This project is a web application that provides a unique video player experience, similar to what you would see in a theater. It features and ambilight effect to the videos surroundings
                and provides the type of videos you would normally see in a theater preview experience! 
            </p>
        </div>
    </section>
    
    <section>
        <div class="section-box">
            <h2>Experience it yourself</h2>
            <p>Ready to try it out? Click the button below to start your experience.
            </p>
        </div>
        <div class="button-box">
        <a href="https://ambilight-experience.onrender.com/" class="button">Try Now</a></div>
    </section>
    
    <footer class="end_text">
        <div class="social-box">
            <a href="https://github.com/Warlord1172" class="social-icon">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.instagram.com/red_eagle718" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    
        <p>
            Videos provided on this site are not owned or copyrighted by Ambilight Video Player Project. They are used under the terms of Fair Use for educational purposes only. Any copyright infringement is not intentional. Please contact us if you have any concerns.
        </p>
        <p>
            &copy; 2023 Ambilight Video Player Project. All rights reserved.
        </p>
        
    </footer>
</body>
</html>
